/* index page styling */
div.index-content {
  margin: 0 4rem;
}

/* styling for paragraf under index page heading */
div.index-content p {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  margin-top: 50px;
}

/* backgroung image for index section */
#index {
  background: url('../imgs/index-background.jpg');
  background-size: cover;
}
/* delays for initial animation after page loads */
.init-animation1 {
  animation: hi-fade-in 0.5s 0.5s ease-in forwards;
  opacity: 0;
}

.init-animation2 {
  animation: hi-fade-in 0.5s 1.5s ease-in forwards;
  opacity: 0;
}

.init-animation3 {
  animation: hi-fade-in 0.5s 2.5s ease-in forwards;
  opacity: 0;
}

.init-animation4 {
  animation: hi-fade-in 0.5s 3.5s ease-in forwards;
  opacity: 0;
}

.init-animation5 {
  animation: hi-fade-in 0.5s 3.8s ease-in forwards;
  opacity: 0;
}

.init-animation6 {
  animation: hi-fade-in 0.5s 4.2s ease-in forwards;
  opacity: 0;
}

@keyframes hi-fade-in {
  0% {}
  70% { opacity: 0.7 }
  100% { opacity: 1 }
}